*{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
body{
	/* overflow-x: hidden; */
	/* background: #e9ecf4; */
	background-image: url("https://cdn.pixabay.com/photo/2016/04/04/14/12/monitor-1307227_960_720.jpg");
	background-position: center;
	background-size: auto;
	margin-top: 10px;
	font-family: 'Ubuntu', sans-serif;
}
html{
	font-size: 62.5%;
}
nav{
	position:relative;
	float: right;
	display: grid;
	outline: 1px solid whitesmoke;
	margin-bottom: 5px;
	background: rgb(2,0,36);
	/* gradiente linear */
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    /* display: inline-flex; */
}
.container {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20 px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
}
.container .contenido {
	grid-column: span 2;
}
.container > div,
.container .contenido,
.container .navBackground,
.container .contacto,
/* .container .contact, */
.container .articulo,
.container .sidebar,
.container .pie {
	background:#fff;
	padding: 5px;
	margin: 8px;
	border-radius: 8px;
	flex-direction: row;
}
.container .navBackground {
	background: rgb(4 75 167);
	color: #fff;
	grid-column-start: 1;
	grid-column-end: -1;
	display: grid;
	flex-direction: column;
/* 	display: inline-flex; */
}
.container .sidebar {
	grid-column: 3/4;
	background:rgb(4, 75, 167);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row:span 2;
	flex-direction: column;
    /* min-height: 100px;
    flex-direction: column; */
}
.container .widget1,
.container .widget2 {
	background:#55a8fd;
	color:#fff;
	height: 100px;
	display:flex;
	align-items: center;
	justify-content: center;
}
.widget1 img, .widget2 img {
	height: 100%;
	width: 100%;
}
.container .pie {
	/* gradiente radial */
	background: rgb(2,0,36);
	background: radial-gradient(circle, rgba(2,0,36,0.9976365546218487) 0%, rgba(9,9,121,1) 47%, rgba(0,212,255,1) 100%);
	color: #fff;
	grid-column: span 3;
	grid-template-columns: repeat(2, 1fr);
	width: 98%;
	max-width: 1000px;
}
.navul li a {
 	color:aliceblue;
	font-size: 2rem;
	padding: 8px;
	grid-column-start: 1;
	grid-column-end: -1;
	/* outline: 1px solid yellow; */
}
.navul li {
	display: inline;
	line-height: 35px;
}
.li {
	width: 100px;
	display:inline-block;
	text-align: center;
	flex-direction: column;
}
a {
	text-decoration: none;
	flex-direction: column;
}
a:hover {
	background-color: #55a8fd;
	transition: background-color .5s;
	border-radius: 5px;
	padding-bottom: 1px;
}
/* .widget1 {
	background;
} */
@media screen and (max-width: 768px) {
    .container .navBackground {
        grid-column: 1 / -1;
    }
    .container .contenido {
        grid-column: 1 / -1;
    }    
    .container .sidebar {
        grid-column: 1 / -1;
    }
    .container .widget1 {
        grid-column: 1 / -1;
    }
    .container .widget2 {
        grid-column: 1 / -1;
    }
    .container .pie {
        grid-column: 1 / -1;
    }
    .container .contact {
        grid-column: 1 / -1;
    }
    .container .contacto {
        grid-column: 1 / -1;
    }
    .container .articulo {
        grid-column: 1 / -1;
    }
}
.contacto {
	color:rgb(4, 75, 167);
	font-size: 2rem;
	font-weight: 500;
	background-color: aliceblue;
	padding: 10px;
	margin: 1rem;
	width: fit-content;
	position:relative;
	border-radius: 10px;
    display:grid;
	/* box shadow */
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.contact {
	color:darkblue;
    display: grid;
	background-color:beige;
	border-radius: 8px;
	text-align: center;
	font-size: 1.5rem;
}
img {
	width: 15%;
	align-items: baseline;
	float: inline-start;
	border-radius: 10px;
	display: grid;
	flex-direction:row;
	justify-items: flex-start;
	padding: 10px;
	grid-column: auto;
	object-fit: cover;
}
.animate__animated.animate__bounce {
	--animate-duration: 6s;
}
