.container .pie {
	/* gradiente radial */
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(6, 2, 78, 0.998) 0%, rgba(9,9,121,1) 47%, rgba(0,212,255,1) 100%);
	color: #fff;
	grid-column: span 3;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	max-width: 1000px;
	flex-flow: column;
	border-radius: 10px;
	margin: 5px;
	/* box shadow */
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}