.container .navBackground {
	color: #fff;
	@extend .col;
	display: grid;
}
.navul li a {
    color:aliceblue;
   font-size: 2rem;
   padding: 8px;
   @extend .col;
}
.navul li {
   display: inline;
   line-height: 35px;
   .li {
       width: 100px;
       display:inline-block;
       text-align: center;
   }
   .a {
      text-decoration: none;
   }
}
a:hover {
   background-color: #55a8fd;
   transition: background-color .5s;
   border-radius: 5px;
   padding-bottom: 1px;
}