.contacto {
	color:rgb(4, 75, 167);
	font-size: $fuente-normal;
	font-weight: 500;
	background-color: aliceblue;
	padding: 10px;
	margin: 1rem;
	width: fit-content;
	position:relative;
	border-radius: 10px;
    display:grid;
	/* box shadow */
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.contact {
	color:darkblue;
    display: grid;
	background-color:beige;
	border-radius: 8px;
	text-align: center;
	font-size: $fuente-pequena;
}
img {
	width: 15%;
	align-items: baseline;
	float: inline-start;
	border-radius: 10px;
	display: grid;
	flex-direction:row;
	justify-items: flex-start;
	padding: 10px;
	grid-column: auto;
	object-fit: cover;
}