.container .contenido {
	grid-column: span 2;
    background:#fff;
	padding: 5px;
	margin: 8px;
	border-radius: 8px;
}

.container .sidebar {
	grid-column: 3/4;
	background:rgb(4, 75, 167);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row:span 2;
	color: #fff;
	flex-direction: row;
	border-radius: 10px;
	/* box shadow */
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

