@mixin widget {
    background:#55a8fd;
	color:#fff;
	height: 200px;
	display:flex;
	align-items: center;
	justify-content: center;
}

.widget1 {
    @include widget;
    img {
        height: 100%;
        width: 100%;
    }
}
.widget2 {
    @include widget;
    img {
        height: 100%;
        width: 100%;
    }
}
